<h2><center>Log In</center></h2>


<form action="./login" method="get">
    <input id="login_email" type="text" name="email" placeholder="Email" class="oval">
    <input id="login_password" type="password" name="password" placeholder="Password" class="oval">
    <br>
    <button id="login_submit" type="submit" class="oval">Log In</button>
</form>