<h2><center>Sign Up</center></h2>

<form action="./signup" method="get">
    <input id="username" type="text" name="username" placeholder="Email" class="oval">
    <!--<input id="email" type="text" name="email" placeholder="Email address" class="oval">-->
    <input id="password" type="password" name="password" placeholder="Password" class="oval">
    <br>
    <button id="submit" type="submit" class="oval">Sign Up</button>
</form>