/*html { 
    background: url(/img/path_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#welcome{
    grid-row: 2/3;
    grid-column: 11/23;
}
#welcome p{
    font-weight: bolder;
}
#signup-box{
    grid-row: 4/16;
    grid-column: 11/23;
    background: #D7CCEC;
    border: 4vh solid #344648;
    border-radius: 8px;
}
#signup-box form{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 35vh;
}
input{
    font-size: 2.5vh;
}
input,
input::-webkit-input-placeholder {
    font-size: 2.5vh;
}
/*#username{
    grid-row: 1/4;
}
#email{
    grid-row: 4/7;
}
#password{
    grid-row: 7/10;
}
#submit{
    grid-row: 10/13;
}*/
#username{
    grid-row: 1/5;
}
#password{
    grid-row: 5/9;
}
#submit{
    grid-row: 9/13;
}
#login_email{
    grid-row: 1/5;
}
#login_password{
    grid-row: 5/9;
}
#login_submit{
    grid-row: 9/13;
}
#message{
    grid-row: 16/17;
    grid-column: 12/22;
}
#message-inner:hover{
    text-decoration: underline;
    color: blue;
}
form{
    margin-left: 10%;
}
form p{
    font-weight: bold;
    font-size: 30vw;
}
form input{
    padding-left: 10px;
    background: #FBE0C3;
    border: 3px solid #9D5159;
}
form button{
    background: #9D5159;
    margin-top: 100px;
}
.oval{
    width: 85%;
    line-height: 30px;
    font-size: 2.5vh;
    margin: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
}