/*sitewide*/
body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(18, 1fr);
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 3vh;
}
p{
    font-size: 2.5vh;
}
h3{
    font-size: 3.2vh;
}
h4{
    font-size: 2.5vh;
}
#inner{
    grid-row: 2/18;
    grid-column: 2/32;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
#title{
    grid-row: 2/3;
    grid-column: 1/31;
}
/*homepage*/